.NavBar {
  overflow: hidden;
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 0.75) 15%, rgba(09, 09, 09, 1) 50%);
  position: fixed;
  padding: 0px 0px 25px 15px;
  margin-left: -6px;
  top: 0;
  width: 100%;
  z-index: 999;
}

.welcome {
  text-decoration: none;
  line-height: 80%;
}

.filters {
  display: grid;
  gap: 0vw;
  grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
}

.Types {
  display: inline;
  padding: 10px 10px 10px 0px;
}

.Types select {
  width: 14vw;
}

.Years {
  display: inline;
  padding: 10px 0px 10px 0px;
}

.Years select {
  width: 14vw;
}

.Genres {
  display: inline;
  padding: 10px 0px 10px 0px;
}

.Genres select {
  width: 14vw;
}

.Search {
  display: inline;
  padding: 10px 0px 10px 0px;
}

.Search input {
  width: 10.5vw;
}

.Seen {
  display: inline;
  padding: 10px 0px 10px 0px;
}

.Seen select {
  width: 14vw;
}

.Sort {
  display: inline;
  padding: 10px 0px 10px 0px;
}

.Sort select {
  width: 14vw;
}

.Stars {
}
.section-head {
  color: white;
  border-top: solid #252525;
  border-bottom: solid #252525;
  padding-left: 2vw;
}

.NavBar h1 {
  color: white;
}

label {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  position: relative;
  margin: 0.5vw;
  padding: 2vw;
  border-style: solid;
  /* border-color: rgba(38, 38, 38, 0); */
  width: 95vw;
  background: linear-gradient(225deg, rgba(209, 209, 209, 0.02) 0%, rgba(166, 166, 166, 0.04) 55%, rgba(38, 38, 38, 1) 100%);
  /* background-color: #171717; */
  /* background: rgba(38, 38, 38, 0); */
  /* background: linear-gradient(270deg, rgba(209, 209, 209, 1) 0%, rgba(166, 166, 166, 1) 20%, rgba(38, 38, 38, 1) 100%); */
}

.flex-item-mini {
  margin: 0.25vw;
  padding: 2vw;
  border-style: solid;
  /* border-color: rgba(38, 38, 38, 1); */
  width: 42vw;
  max-width: 520px;
  background: linear-gradient(225deg, rgba(209, 209, 209, 0.02) 0%, rgba(166, 166, 166, 0.04) 55%, rgba(38, 38, 38, 1) 100%);
  /* background-color: #171717; */
  /* background: rgba(38, 38, 38, 0); */
  /* background: linear-gradient(270deg, rgba(209, 209, 209, 1) 0%, 20%, rgba(38, 38, 38, 1) 100%); */
  justify: center;
  /* border-radius: 40px; */
}

.flex-item-mini:hover {
  border-color: rgba(90, 90, 90);
}

.flex-item:hover {
  border-color: rgba(90, 90, 90);
}

.poster-container {
  float: left;
  display: block;
  background-size: 100%;
  margin: -2vw 1vw -2vw -2vw;
}

.poster-container-mini {
  float: left;
  display: block;
  height: 15vw;
  width: 10vw;
  background-size: 100%;
  margin: -2vw 1vw -2vw -2vw;
}

.information-container {
  float: left;
  padding: 0 1vw 0 1vw;
  max-width: 50%;
}

.information-container-mini {
  float: left;
  padding: 0 1vw 0 1vw;
  width: 55%;
}

.editor-button {
  font-size: 0.6vw;
  color: #707070;
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  float: right;
  position: absolute;
  bottom: 2vh;
  right: 2vh;
}

.description-container {
  max-width: 100%;
  color: rgb(170, 170, 170);
  font-size: large;
}

.genre-container {
  max-width: 100%;
  color: rgb(170, 170, 170);
}

.rating {
  font-size: large;
  color: rgb(170, 170, 170);
}

.year {
  font-size: large;
  color: rgb(170, 170, 170);
}

.season-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
}

.season-item {
  display: inline;
  margin: 1%;
}

.title-container {
  display: inline;
  max-width: 100%;
  margin-top: 0px;
}

.title-mini {
  line-height: 95%;
  margin-top: 0px;
  margin-bottom: 2%;
  width: 100%;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

.title {
  line-height: 95%;
  margin-top: 0px;
  margin-bottom: 2%;
  width: 100%;
  font-size: xx-large;
  color: rgb(255, 255, 255);
}

.close {
  height: 100%;
  float: right;
  font-size: 3vw;
  border-style: none;
  background-color: rgb(1, 1, 1, 0);
  padding: 0px;
  color: white;
  bottom: auto;
}

.close {
  height: 100%;
  float: right;
  font-size: 3vw;
  border-style: none;
  background-color: rgb(1, 1, 1, 0);
  padding: 0px;
  color: white;
}

.app-container {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin-top: 12vh;
}

.button {
  border-style: solid;
  border-width: 0.2vw;
  background-color: #d1d1d1;
  padding: 0.25vw;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.seen-indicator-on {
  color: #999999;
  /* font-size: 2vw; */
  display: inline;
  cursor: pointer;
  text-shadow: 1px 1px black;
}

.seen-indicator-off {
  color: #808080;
  /* font-size: 2vw; */
  display: inline;
  cursor: pointer;
  text-shadow: 1px 1px black;
}

.seen-label {
  display: inline;
  font-size: large;
  color: rgb(170, 170, 170);
}
