.NavBar {
  overflow: hidden;
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 0.75) 15%, rgba(09, 09, 09, 1) 50%);
  position: fixed;
  padding: 0px 0px 25px 15px;
  margin-left: -6px;
  top: 0;
  width: 100%;
}

.Types {
  display: inline;
  padding: 10px 10px 10px 0px;
}

.Years {
  display: inline;
  padding: 10px;
}

.Genres {
  display: inline;
  padding: 10px;
}

.Search {
  display: inline;
  padding: 10px;
}

.Stars {}

.sectionHead {
  color: white;
  border-top: solid #252525;
  border-bottom: solid #252525;
  padding: 5px 0px 5px 0px;
}

.NavBar h1 {
  color: white;
}

label {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  margin: 20px;
  padding: 40px;
  border-style: solid;
  border-color: rgba(38, 38, 38, 1);
  width: 83vw;
  background: linear-gradient(270deg, rgba(209, 209, 209, 1) 0%, rgba(166, 166, 166, 1) 20%, rgba(38, 38, 38, 1) 100%);
  font-size: 12pt;
  /* border-radius: 40px; */
}

.flex-item-mini {
  margin: 20px;
  padding: 20px;
  border-style: solid;
  border-color: rgba(38, 38, 38, 1);
  width: 40vw;
  background: linear-gradient(270deg, rgba(209, 209, 209, 1) 0%, rgba(166, 166, 166, 1) 20%, rgba(38, 38, 38, 1) 100%);
  font-size: 8pt;
  justify: center;
  /* border-radius: 40px; */
}

.poster-container {
  float: left;
  display: block;
  padding-bottom: 22.5%;
  padding-left: 15%;
  background-size: 100%;
  border-style: solid;
  /* border-radius: 40px; */
}

.poster-container-mini {
  float: left;
  display: block;
  padding-bottom: 15%;
  padding-left: 10%;
  background-size: 100%;
  border-style: solid;
  /* border-radius: 40px; */
}

.information-container {
  /* display: inline-block; */
  float: left;
  padding: 0px 20px 0px 20px;
  width: 70%;
}

.description-container {
  max-width: 100%;
}

.genre-container {
  max-width: 100%;
}

.season-container {
  max-width: 100%;
}

.title-container {
  max-width: 100%;
  margin-top: 0px;
}

.app-container {}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #171717;
  margin-top: 160px;
}

a.button {
  border-style: solid;
  background-color: #d1d1d1;
  padding: 5px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}